[submodule "roles/add_nginx_proxy_conf"]
	path = roles/add_nginx_proxy_conf
	url = https://github.com/anarres-org/add_nginx_proxy_conf
[submodule "roles/generic_docker_systemd"]
	path = roles/generic_docker_systemd
	url = https://github.com/anarres-org/generic_docker_systemd
[submodule "roles/anarres_common"]
	path = roles/anarres_common
	url = https://github.com/anarres-org/anarres_common
[submodule "roles/anarres_sec"]
	path = roles/anarres_sec
	url = https://github.com/anarres-org/anarres_sec
[submodule "roles/letsencrypt_request"]
	path = roles/letsencrypt_request
	url = https://github.com/anarres-org/letsencrypt_request
[submodule "roles/anarres_nginx"]
	path = roles/anarres_nginx
	url = https://github.com/anarres-org/anarres_nginx
